.home {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
}
.name{
    color: rgb(34, 34, 34);
    font-family: var(--font-13);
    margin: 5% 0 0 15%;
    min-width: 40vw;

}
.name  div{
    display: inline-block;
    font-size: 5rem;
}
.nameAnimation{
    animation-name: wobble;
    animation-duration: 1s;
}

.displayNone{
    opacity: 0;
}
