.rain {
    position: absolute;
    top: -50%;
    bottom: 50%;
    left: 50%;
    right: 0;
    overflow: hidden;
}
.deafMetor{
    position: absolute;
    display: inline-block;
    width: 2.5px;
    height: 38px;
    border-radius: 40%;
    animation: rain 4s ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.delayMetor-0 { animation-delay: 2000ms }
.delayMetor-1 { animation-delay: 2200ms }
.delayMetor-2 { animation-delay: 2400ms }
.delayMetor-3 { animation-delay: 2600ms }
.delayMetor-4 { animation-delay: 2800ms }
.delayMetor-5 { animation-delay: 2000ms }
.delayMetor-6 { animation-delay: 3200ms }
.delayMetor-7 { animation-delay: 3400ms }
.delayMetor-8 { animation-delay: 3600ms }
.delayMetor-9 { animation-delay: 3800ms }
.delayMetor-10 { animation-delay: 4000ms }
.delayMetor-11 { animation-delay: 4200ms }
.delayMetor-12 { animation-delay: 4600ms }
.delayMetor-13 { animation-delay: 4800ms }
.delayMetor-14 { animation-delay: 5000ms }

.colorMetor-1 { background-image: linear-gradient(to top, rgba(255, 0, 191, 0.753), var(--color-6)); }
.colorMetor-2 { background-image: linear-gradient(to top, rgba(25, 0, 255, 0.753), var(--color-6)); } 
.colorMetor-3 { background-image: linear-gradient(to top, rgba(0, 255, 106, 0.753), var(--color-6)); } 
.colorMetor-4 { background-image: linear-gradient(to top, rgba(119, 0, 255, 0.753), var(--color-6)); } 
.colorMetor-5 { background-image: linear-gradient(to top, rgba(255, 0, 0, 0.753), var(--color-6)); } 
.colorMetor-6 { background-image: linear-gradient(to top, rgba(229, 255, 0, 0.753), var(--color-6)); } 

@keyframes rain {
    0% {
        transform: scale(0) translate(-100px, -100px) rotate(-50deg);
        opacity: 1;
    }
    100% {
        transform: scale(2) translate(1000px, 1000px) rotate(-50deg);
        opacity: 0;
    }

}