@media (max-width: 1480px) {
    #navbarAnimation {
        width: 18vw;
        display: flex;
        background-color: var(--color-1);
        justify-content: space-around;
        flex-direction: column;
    }
    #navbarAnimationClose, #navbarClose {
        width: 6vw;
    }
    @keyframes navbarClose {
        from  { width: 18vw; background-color: var(--color-1) }  
        to   { width: 6vw;}
    }
    @keyframes navbar {
        from   { width: 6vw; background-color: var(--color-4)}
        to  { width: 18vw}  
    }
}
@media (max-width: 1080px) {
    #navbarAnimation {
        width: 18vw;
        display: flex;
        background-color: var(--color-1);
        justify-content: space-around;
        flex-direction: column;
    }
    #navbarAnimationClose, #navbarClose {
        width: 10vw;
    }
    @keyframes navbarClose {
        from  { width: 18vw; background-color: var(--color-1) }  
        to   { width: 10vw;}
    }
    @keyframes navbar {
        from   { width: 10vw; background-color: var(--color-4)}
        to  { width: 18vw}  
    }
}
@media (max-width: 720px) {
    #navbarAnimation {
        width: 25vw;
        display: flex;
        background-color: var(--color-1);
        justify-content: space-around;
        flex-direction: column;
    }
    #navbarAnimationClose, #navbarClose {
        height: 100vh;
        width: 15vw;
    }
    @keyframes navbarClose {
        from  { width: 25vw; background-color: var(--color-1) }  
        to   { width: 15vw;}
    }
    @keyframes navbar {
        from   { width: 15vw; background-color: var(--color-4)}
        to  { width: 25vw }  
    }
}
@media (max-width: 520px) {
    #navbarAnimation {
        width: 100vw;
        display: flex;
        background-color: var(--color-1);
        justify-content: space-around;
        flex-direction: column;
    }
    #navbarAnimationClose, #navbarClose {
        width: 20vw;
    }
    @keyframes navbarClose {
        from  { width: 100vw; background-color: var(--color-1) }  
        to   { width: 20vw;}
    }
    @keyframes navbar {
        from   { width: 20vw; background-color: var(--color-4)}
        to  { width: 100vw }  
    }
}