.imgMeteor {
    cursor: pointer;
}
.imgMeteorClose{
    cursor: pointer;
    
}
.controlMeteor {
    margin: 0 25% 0 0;
}
@keyframes closeOpen {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.imgMeteor img, .imgMeteorClose img {
    max-width: 40px;
    animation: closeOpen 1s ease-in-out;
    animation-iteration-count: 1;
    margin: 0 0 0 30%;
}
.dropDownControler {
    display: none;
}