@media (max-width: 1080px) {
    #navbarAnimation {
        width: 18vw;
        display: flex;
        background-color: var(--color-1);
        justify-content: space-around;
        flex-direction: column;
    }
    #navbarAnimationClose {
        width: 3.5vw;
    }
    @keyframes navbarClose {
        from  { width: 18vw; background-color: var(--color-1) }  
        to   { width: 3.5vw;}
    }
    @keyframes navbar {
        from   { width: 3.5vw; background-color: var(--color-4)}
        to  { width: 18vw}  
    }
}
@media (max-width: 720px) {
    #navbarAnimation {
        width: 25vw;
        display: flex;
        background-color: var(--color-1);
        justify-content: space-around;
        flex-direction: column;
    }
    #navbarAnimationClose {
        height: 100vh;
        width: 8vw;
    }
    @keyframes navbarClose {
        from  { width: 25vw; background-color: var(--color-1) }  
        to   { width: 8vw;}
    }
    @keyframes navbar {
        from   { width: 8vw; background-color: var(--color-4)}
        to  { width: 25vw }  
    }
}
@media (max-width: 420px) {
    #navbarAnimation {
        width: 100vw;
        display: flex;
        background-color: var(--color-1);
        justify-content: space-around;
        flex-direction: column;
    }
    #navbarAnimationClose {
        width: 12vw;
    }
    .mobile-navbar-options a {
        display: none;
    }
    @keyframes navbarClose {
        from  { width: 100vw; background-color: var(--color-1) }  
        to   { width: 12vw;}
    }
    @keyframes navbar {
        from   { width: 12vw; background-color: var(--color-4)}
        to  { width: 100vw }  
    }
}