.navbar { overflow: hidden;}
#navbarAnimation {
    position: relative;
    animation-name: navbar;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes navbar {
    from   { right: 500px; background-color: var(--color-4)}
    to  { right:0px}  
}

#animationInHomeOption a{
    position: relative;
    animation-name: homeOption;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes homeOption {
    0%   { right:300px; color: var(--color-1);}
    50%   { right:300px; color: var(--color-1);}
    100%  { right:0px;}  
}
#animationInProfileOption a{
    position: relative;
    animation-name: profileOption;
    animation-duration: 3.4s;
    animation-iteration-count: 1;
}
@keyframes profileOption {
    0%   { left:300px; color: var(--color-1);}
    50%   { left:300px; color: var(--color-1);}
    100%  { left:0px;}  
}
#animationInProjectsOption a{
    position: relative;
    animation-name: projectsOption;
    animation-duration: 3.8s;
    animation-iteration-count: 1;
}
@keyframes projectsOption {
    0%   { right:300px; color: var(--color-1);}
    50%   { right:300px; color: var(--color-1);}
    100%  { right:0px;}   
}
#animationInContactOption a{
    position: relative;
    animation-name: contactOption;
    animation-duration: 4.2s;
    animation-iteration-count: 1;
}
@keyframes contactOption {
    0%   { left:300px; color: var(--color-1);}
    50%   { left:300px; color: var(--color-1);}
    100%  { left:0px;}    
}


