#navbarAnimationClose, #navbarAnimation { overflow: hidden;}
#navbarAnimationClose {
    position: relative;
    animation-name: navbarClose;
    animation-duration: 3s;
    animation-iteration-count: 1;
    background-color: var(--color-4)
}


#animationInHomeOptionClose a{
    margin: 0 0 1px 0;
    color: var(--color-1);
    background-color:var(--color-6);
    animation-name: homeOptionClose;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
}
@keyframes homeOptionClose {
    0%  { top:0px;}  
    50%   { top:800px; color: var(--color-1);}
    100%   { top:800px; color: var(--color-1);}
}
#animationInProfileOptionClose a{
    animation-name: profileOptionClose;
    animation-duration: 3.9s;
    animation-iteration-count: 1;
}
@keyframes profileOptionClose {
    0%  { left:0px;}  
    50%   { left:400px; color: var(--color-1);}
    100%   { left:400px; color: var(--color-1);}
}
#animationInProjectsOptionClose a{
    animation-name: projectsOptionClose;
    animation-duration: 4.3s;
    animation-iteration-count: 1;
}
@keyframes projectsOptionClose {
    0%  { right:0px;}   
    50%   { right:400px; color: var(--color-1);}
    100%   { right:400px; color: var(--color-1);}
}
#animationInContactOptionClose a{
    animation-name: contactOptionClose;
    animation-duration: 4.7s;
    animation-iteration-count: 1;
}
@keyframes contactOptionClose {
    0%  { left:0px;}    
    50%   { left:400px; color: var(--color-1);}
    100%   { left:400px; color: var(--color-1);}
}


