.imgMeteor {
    cursor: pointer;
}
.imgMeteorClose{
    cursor: pointer;
    
}
.controlMeteor {
    margin: 0 25% 0 0;
}
@keyframes closeOpen {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.imgMeteor img, .imgMeteorClose img {
    max-width: 40px;
    animation: closeOpen 1s ease-in-out;
    animation-iteration-count: 1;
    margin: 0 0 0 30%;
    transition: all .3s;
}
.controlMeteor img:hover {
    transform: scale(1.3);
}

.dropDownControler {
    position: relative;
    transform: rotate(90deg);
}


.rain {
    display: none;
}