nav, ul, li, a{
    list-style-type: none;
    text-decoration: none;
}
.navbar {
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(19, 19, 19);
}
.navbarUl1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}
.navbarUl1 li {
    margin: 15px;
}
.navbarUl1 li a {
    color: rgb(19, 19, 19);
    font-size: xx-large;
    text-shadow: 
        0 0 2px rgb(129, 177, 184), 
        0 0 2px rgb(129, 177, 184),
        0 0 2px rgb(129, 177, 184), 
        0 0 2px rgb(129, 177, 184);
    
}
.navbarUl2{
    display: none;
    position: absolute;
}
.dropdown:hover .navbarUl2{
    display: block;
}