.navbar {
    height: 100vh;
    width: 15vw;
    display: flex;
    background-color: var(--color-1);
    justify-content: space-around;
    flex-direction: column;
}
.mobile-navbar {
    height: 100vh;
    width: 3vw;
    background-color: var(--color-1);
}

.navbarUl1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-options {
    width: 100%;
    text-align: center;
}

.navbar-options a {
    color: var(--color-4);
    padding: 5% 0 5% 0;
    display: block;
    font-size: x-large;
    position: relative;
    box-sizing: border-box;
}
.mobile-navbar-options a {
    display: none;
}

.navbar-options a:hover {
    box-sizing: border-box;
    color: var(--color-1);
    background-color: var(--color-6);
    transition: background 250ms cubic-bezier(0.36, 0.69, 0.75, 0.41);
    cursor: pointer;
}
