.imgMeteor {
    cursor: pointer;
}
.imgMeteorClose{
    cursor: pointer;
}

@keyframes closeOpen {
    from{
        transform: translate(-100px, -100px);
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.imgMeteor img, .imgMeteorClose img {
    transform: rotate(-90deg);
    max-width: 50px;
    animation: closeOpen 1s ease-in-out;
    animation-iteration-count: 1;
    transition: all .3s;
}
.controlMeteor img:hover {
    transform: rotate(-90deg) scale(1.3);
}
