.Profile {
  display: flex;
  width: 60vw;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Profile::-webkit-scrollbar {
  display: none;
}

.timeline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: var(--font-2);
}

.Profile h1 {
  font-size: 2.5rem;
  font-family: var(--font-15);
}

@media (max-width: 1080px) {
  .Profile {
    width: 85vw;
  }
}
@media (max-width: 720px) {
  .timeline {
    flex-direction: row-reverse;
  }
}